<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>ľudo slovenský - Najväčšia digitalizovaná zbierka slovenskej ľudovej slovesnosti</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body class="l-theme-green">

<div class="l-navbar">

    <div class="container">

        <menu class="switch hidden-md-down">
            <li><a class="switch-blue"></a></li>
            <li><a class="switch-green"></a></li>
            <li><a class="switch-red"></a></li>
            <li><a class="switch-yellow"></a></li>
        </menu>

        <div class="row">

            <div class="col-xl-1 col-lg-2 col-xs-4">
                <a class="l-navbar__logo">
                    <img src="/public/img/logo-small-dark.png" height="28">
                </a>
            </div>

            <div class="col-xl-8 col-lg-7 hidden-md-down">
                <menu class="l-navbar__menu">
                    <li><a>Príslovia a porekadlá</a></li>
                    <li><a>Nadávky</a></li>
                    <li class="active"><a>Piesne</a></li>
                    <li><a>Ľudo Labs</a></li>
                </menu>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-8">
                <div class="l-navbar__user">
                    <a>O ľudovi</a>
                    <a class="l-btn l-btn--small l-btn--primary">Pridaj sa</a>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="l-header">

    <div class="container">

        <div class="row">

            <div class="col-lg-8">

                <a class="l-header__logo"><img src="/public/img/logo-piesne-inverse.png"></a>

                <div class="l-header__tabs">
                    <a class="active">Najpopulárnejšie</a>
                    <a>Celá zbierka po kapitolách</a>
                </div>

                <div class="l-header__info">

                    <h1>Najpopulárnejšie piesne</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                </div>

            </div>

            <div class="l-header__img col-lg-4 l-header__img--bg" style="background-image: url('/public/img/ludo-music.png');"></div>

        </div>

    </div>

</div>

<div class="l-promo">

    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-lg-push-4 col-xl-9 col-xl-push-3">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>

                <div class="l-promo__btns">

                    <a class="l-btn l-btn--large l-btn--inverse">Zistiť viac o ľudovi</a>
                    <a class="l-btn l-btn--large l-btn--inverse">Pridaj sa k nám!</a>

                </div>

            </div>

            <div class="col-lg-4 col-lg-pull-8 col-xl-3 col-xl-pull-9">

                <img src="/public/img/ludo-grey.png" width="100%">

            </div>

        </div>

    </div>

</div>

<div class="l-articles">

    <div class="container">

        <h2>Ľuda slovenského blogy</h2>

        <div class="l-article row">

            <div class="l-article__img col-md-3">

                <a><img src="http://lorempixel.com/500/500/?v=1"></a>

            </div>

            <div class="l-article__content col-md-9">

                <h3><a>Lorem ipsum dolor sit amet</a></h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur porta turpis, ut convallis enim tempor et. Mauris ut velit accumsan, eleifend ligula id, finibus nunc. Donec commodo leo in eros sodales congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ut nunc ut metus semper tempor. Donec vel lacus tortor. Quisque dapibus vitae lorem at mollis. Cras pharetra lectus et pellentesque porttitor. Aliquam erat volutpat.
                </p>

            </div>

        </div>

        <div class="l-article row">

            <div class="l-article__img col-md-3">

                <a><img src="http://lorempixel.com/500/500/?v=1"></a>

            </div>

            <div class="l-article__content col-md-9">

                <h3><a>Lorem ipsum dolor sit amet</a></h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur porta turpis, ut convallis enim tempor et. Mauris ut velit accumsan, eleifend ligula id, finibus nunc. Donec commodo leo in eros sodales congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ut nunc ut metus semper tempor. Donec vel lacus tortor. Quisque dapibus vitae lorem at mollis. Cras pharetra lectus et pellentesque porttitor. Aliquam erat volutpat.
                </p>

            </div>

        </div>

        <div class="l-article row">

            <div class="l-article__img col-md-3">

                <a><img src="http://lorempixel.com/500/500/?v=1"></a>

            </div>

            <div class="l-article__content col-md-9">

                <h3><a>Lorem ipsum dolor sit amet</a></h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur porta turpis, ut convallis enim tempor et. Mauris ut velit accumsan, eleifend ligula id, finibus nunc. Donec commodo leo in eros sodales congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ut nunc ut metus semper tempor. Donec vel lacus tortor. Quisque dapibus vitae lorem at mollis. Cras pharetra lectus et pellentesque porttitor. Aliquam erat volutpat.
                </p>

            </div>

        </div>

    </div>

</div>

<footer class="l-footer">

    <div class="container">

        <div class="l-footer__signature">

            <a class="l-footer__logo">
                <img src="/public/img/logo-inverse.png">
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        </div>

    </div>

</footer>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<script>
    $('.switch li a').click(function(){
        var color = $(this).attr('class').split('-')[1];
        $('body').removeClass().addClass('l-theme-' + color);
    });
</script>

</body>
</html>