$color-grey: #717887;
$color-grey2: #acb5c6;
$color-grey-light: #eef1f5;
$color-dark: #333845;
$color-yellow: #f5ab32;
$color-yellow-light: #f5c664;
$color-yellow-lighter: #fff1b4;
$color-red: #d6232e;
$color-red-light: #d64652;
$color-red-lighter: #ffc2d3;
$color-green: #49a983;
$color-green-light: #92cbb5;
$color-green-lighter: #c9ffe3;
$color-blue: #24499b;
$color-blue-light: #536daa;
$color-blue-lighter: #badcff;

$screen-xs-max: 33.9rem;

$screen-sm-max: 47.9rem;

$screen-md-max: 61.9rem;

$screen-lg-max: 74.9rem;