@font-face {
  font-family: 'yrsabold';
  src: url('#{$url-fonts}Yrsa/yrsa-bold-webfont.woff2') format('woff2'),
  url('#{$url-fonts}Yrsa/yrsa-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'yrsaregular';
  src: url('#{$url-fonts}Yrsa/yrsa-regular-webfont.woff2') format('woff2'),
  url('#{$url-fonts}Yrsa/yrsa-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}