@charset "UTF-8";

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Regular-19ceb624c537be97c6be7a19fb76ba31.eot");
  src: url("fonts/Tabac-Sans-Regular-19ceb624c537be97c6be7a19fb76ba31.eot?#iefix") format("embedded-opentype"), url("fonts/Tabac-Sans-Regular-19ceb624c537be97c6be7a19fb76ba31.woff2") format("woff2"), url("fonts/Tabac-Sans-Regular-19ceb624c537be97c6be7a19fb76ba31.woff") format("woff"), url("fonts/Tabac-Sans-Regular-19ceb624c537be97c6be7a19fb76ba31.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Bold-222a3de890a5cee6bcfb60b31d97c47e.eot");
  src: url("fonts/Tabac-Sans-Bold-222a3de890a5cee6bcfb60b31d97c47e.eot?#iefix") format("embedded-opentype"), url("fonts/Tabac-Sans-Bold-222a3de890a5cee6bcfb60b31d97c47e.woff2") format("woff2"), url("fonts/Tabac-Sans-Bold-222a3de890a5cee6bcfb60b31d97c47e.woff") format("woff"), url("fonts/Tabac-Sans-Bold-222a3de890a5cee6bcfb60b31d97c47e.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Italic-e0ad383e7ad75481a109d24a4fdb8e89.eot");
  src: url("fonts/Tabac-Sans-Italic-e0ad383e7ad75481a109d24a4fdb8e89.eot?#iefix") format("embedded-opentype"), url("fonts/Tabac-Sans-Italic-e0ad383e7ad75481a109d24a4fdb8e89.woff2") format("woff2"), url("fonts/Tabac-Sans-Italic-e0ad383e7ad75481a109d24a4fdb8e89.woff") format("woff"), url("fonts/Tabac-Sans-Italic-e0ad383e7ad75481a109d24a4fdb8e89.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Bold-Italic-e6b25fe1d822a46547d8ce4994649459.eot");
  src: url("fonts/Tabac-Sans-Bold-Italic-e6b25fe1d822a46547d8ce4994649459.eot?#iefix") format("embedded-opentype"), url("fonts/Tabac-Sans-Bold-Italic-e6b25fe1d822a46547d8ce4994649459.woff2") format("woff2"), url("fonts/Tabac-Sans-Bold-Italic-e6b25fe1d822a46547d8ce4994649459.woff") format("woff"), url("fonts/Tabac-Sans-Bold-Italic-e6b25fe1d822a46547d8ce4994649459.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-SemiBold-33cea0fd0a6841db912491af55573cce.eot");
  src: url("fonts/Tabac-Sans-SemiBold-33cea0fd0a6841db912491af55573cce.eot?#iefix") format("embedded-opentype"), url("fonts/Tabac-Sans-SemiBold-33cea0fd0a6841db912491af55573cce.woff2") format("woff2"), url("fonts/Tabac-Sans-SemiBold-33cea0fd0a6841db912491af55573cce.woff") format("woff"), url("fonts/Tabac-Sans-SemiBold-33cea0fd0a6841db912491af55573cce.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-SemiBold-Italic-6450847f2f34fb685577bcc8e4063747.eot");
  src: url("fonts/Tabac-Sans-SemiBold-Italic-6450847f2f34fb685577bcc8e4063747.eot?#iefix") format("embedded-opentype"), url("fonts/Tabac-Sans-SemiBold-Italic-6450847f2f34fb685577bcc8e4063747.woff2") format("woff2"), url("fonts/Tabac-Sans-SemiBold-Italic-6450847f2f34fb685577bcc8e4063747.woff") format("woff"), url("fonts/Tabac-Sans-SemiBold-Italic-6450847f2f34fb685577bcc8e4063747.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
