.l-theme-green{

  .l-articles{

    h2{
      color: $color-green;
    }
  }
}

.l-theme-blue{

  .l-articles{

    h2{
      color: $color-blue;
    }
  }
}

.l-theme-red{

  .l-articles{

    h2{
      color: $color-red;
    }
  }
}

.l-theme-yellow{

  .l-articles{

    h2{
      color: $color-yellow;
    }
  }
}

.l-articles{

  padding-top: 3rem;

  h2{

    font-size: 2.25rem;
    margin-bottom: 2rem;
  }

}

.l-article{

  margin-bottom: 2rem;

  .l-article__img{

    img{
      width: 100%;
    }
  }

  .l-article__content{

    h3{
      font-size: 1.75rem;
      margin-bottom: 1rem;
      margin-top: 1rem;

      a{
        color: $color-dark;
      }
    }
  }
}