.l-footer{

  background: $color-dark;
  color: #fff;
  padding: 3rem 0;

  a{
    color: $color-grey2;
  }

  .l-footer__signature{

    text-align: center;
    font-family: 'Qanelas-Soft Semibold', sans-serif;
    font-size: 1rem;

    .l-footer__logo{

      display: inline-block;
      margin-bottom: 1rem;

      img{
        width: 7rem;
      }
    }
  }

  .l-footer__partners{

    margin-top: 2rem;

    h2{
      font-size: 1.125rem;
    }

    a{
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      display: inline-block;

      img{
        height: 5rem;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max){

  .l-footer{

    .l-footer__partners{
      a{
        img{

        }
      }
    }
  }
}