.l-list{

  .l-center{
    margin-top: 2rem;
  }
}

.l-list-items{

  .l-song-item{
    margin-top: 1rem;
  }

  .row{
    margin-top: 1rem;
  }
}

.l-list-header{
}

.l-list-filter{

  margin-bottom: 1rem;

  h2{
    font-size: 1.5rem;
    margin-top: 0;
  }

  h3{
    font-size: 1.25rem;
    margin-top: 0;
  }
}

.l-chart{

  ol{

    li{

      line-height: 1.8rem;
      border-radius: 5px;

      small{
        color: $color-grey;
        text-align: right;
        width: 13%;
        padding-right: 1%;
        display: inline-block;
      }

      .fa{
        margin-right: 3px;
      }

      a{
        display: inline-block;
        white-space: nowrap;
        width: 84%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0.5rem;
      }

      a:hover{
        text-decoration: none;
      }
    }

    li:hover{
      background: $color-grey-light;
    }
  }
}

@media (max-width: $screen-xs-max) {


  .l-chart {

    ol {

      li {

        small {
          width: 17%;
          padding-right: 1%;
        }

        a {
          width: 80%;
        }
      }
    }
  }
}