.l-promo{

  padding-top: 3rem;
  background: $color-dark;
  color: #fff;

  p{
    font-size: 1.125rem;
  }

  .l-promo__btns{

  }

}

@media (max-width: $screen-sm-max) {

  .l-promo{

    text-align: center;

    .l-promo__btns{
      text-align: center;
      margin-bottom: 2rem;

      .l-btn{
        margin-bottom: 1rem;
      }
    }

  }
}