.l-song-subh{

  border-top: 2px solid $color-grey-light;
  padding: 1rem 0;
}

.l-song{
  padding-bottom: 2rem;
}

.l-song-lyrics{
  margin-top: 2rem;
  column-count: 2;

  ul{
    list-style: none;

    li{
      position: relative;
      padding-left: 3rem;

      .l-num{
        position: absolute;
        left: 0;
      }
    }
  }
}

.l-song-download{
  margin-top: 2rem;
  text-align: center;

  &__btns{
    border-top: 2px solid $color-grey-light;
    border-bottom: 2px solid $color-grey-light;
    padding: 1rem 0;
  }
}

.l-song-similar{
  margin-top: 2rem;

  &__item{

    padding: 1rem;

    h3{
      margin-top: 0;
      padding-right: 3rem;
    }

    .l-btn{
      position: absolute;
      top: 1rem;
      right: 2rem;
    }

    img{
      width: 100%;
    }
  }
}

@media (max-width: $screen-xs-max) {

  .l-song-lyrics{

    column-count: 1;
  }

  .l-song-similar{

    &__item{
      margin-top: 1rem;
    }
  }

}