.l-layout-song{

  .modal-header, .modal-body, .modal-footer{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.l-song-header{
  background: #fff;
  width: 100%;
  padding-top: 1rem;
}

.l-song-variants{
  margin-bottom: 1rem;
}

.l-song-header--float{
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 999;
  -webkit-box-shadow: 0 0 20px 0 #C2C2C2;
  box-shadow: 0 0 20px 0 #C2C2C2;
}

.l-song-subh{

  border-top: 2px solid $color-grey-light;
  padding: 1rem 0 0 0;
  margin: 0;
}

.l-song{
  margin-top: -3rem;
}

.l-song-lyrics{
  margin-top: 4rem;
  position: relative;

  .supsub {
    display: inline-block;
    margin-right: 5px;

    sup, sub {
      display: block;
      font-size: 0.75rem;
    }

    sup{
      padding-bottom: 2px;
    }

    sub{
      padding-top: 2px;
    }
  }

  .row{
    margin-bottom: 2rem;
  }

  [class*="col-"] {
    position: relative;
    padding-left: 4rem;

    .l-num{
      position: absolute;
      left: 1rem;
    }
  }

  .l-btn-reveal{
    background: url("../img/bg-reveal.png") repeat-x top;
    display: block;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
  }
}

.l-song-download{
  text-align: right;
  padding-top: 0.5rem;
}

.l-song-similar{
  margin-top: 2rem;
  position: relative;

  .btn-left, .btn-right{
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 #ccc;
    box-shadow: 0 0 10px 0 #ccc;
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 1.5rem;
    font-size: 1.5rem;

    .fa{
      position: relative;
    }
  }

  .btn-left{
    left: -1rem;
    .fa{
      left: -2px;
      top: 2px;
    }
  }

  .btn-right{
    right: -1rem;
    .fa{
      left: 2px;
      top: 2px;
    }
  }
}

.l-know{
  margin-top: 2rem;
}

.l-song-item{

    padding: 1rem;
    position: relative;

    h3{
      margin-top: 0;
      padding-right: 3rem;
      font-size: 1.5rem;
    }

    .l-btn--play{
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    img{
      width: 100%;
    }
}

@media (max-width: $screen-xs-max) {

  .l-song-lyrics{

    [class*="col-"] {
      margin-bottom: 2rem;
    }
  }

  .l-song-similar{

    &__item{
      margin-top: 1rem;
    }
  }
    
  .l-song-item{
     margin-top: 1rem;
  }

  .l-song-download{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid $color-grey-light;
  }

  .l-layout-song{

    .modal-header, .modal-body, .modal-footer{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .l-song-header{

    .l-btn--play{
      display: block;
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }
  }

}