<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ľudo slovenský radí: najväčšia zbierka ľudových prísloví a porekadiel</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	  
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1402931466605062&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
    
    <header style="background-image: url('img/bg.jpg');">
	    
	    <nav class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
		    <div class="container">
		
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tu-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">Tomáš Ulej</a>
		        </div>
		
		        <div class="collapse navbar-collapse" id="tu-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
			            <li><a>Ľudo Slovenský</a></li>
			            <li><a>Ale</a></li>
			            <li><a>Bodaj bi!</a></li>
		            </ul>
		        </div>
		
		    </div>
		
		</nav>
	    
	    <div class="header header-sub container">
		    
		    <div class="row">
			    <div class="col-sm-8">
				    <div class="row">
					    <div class="col-lg-5">
				    		<h1><a>Príslovia a porekadlá</a></h1>
					    </div>
					    <div class="menu col-lg-7">
						    <a class="item"><span class="glyphicon glyphicon-star-empty"></span>Najpopulárnejšie</a>
							<a class="item"><span class="glyphicon glyphicon-book"></span>Celá zbierka po kapitolách</a>
					    </div>
				    </div>
			    </div>
			    <div class="search col-sm-4">
				    <input type="text" value="Hľadať...">
				    <span class="glyphicon glyphicon-search"></span>
			    </div>
		    </div>
		    
	    </div>
	    
    </header>
    
    <div class="container detail">

	    <div class="row">
		    <div class="col-md-4">
	    		<img src="img/ludo.jpg" class="img">
	    	</div>
	    	<div class="col-md-8">
		    	<h2>Frajer čarovaný, chrbát maľovaný.</h2>
		    	<p>
			    	Tak hovorieval Ľudo slovenský.
		    	</p>
		    	<button class="btn btn-default">Nechaj si aj Ty poradiť z 12-tisíc jeho prísloví a porekadiel</button>
		    	
		    	<div class="social"><iframe src="http://www.facebook.com/plugins/like.php?href=http://www.ludoslovensky.sk/prislovia/prislovie.php?id=354&width&layout=standard&action=like&show_faces=true&share=true&height=80&appId=1402931466605062" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe></div>
		    	
	    	</div>
	    </div>
	    
    </div>
    
    <footer>
	    <div class="container">
		    <div class="row">
			    <div class="col-md-6">
				    <div class="menu">
					    <h3>Príslovia a porekadlá</h3>
					    <a class="item"><span class="glyphicon glyphicon-star-empty"></span>Najpopulárnejšie</a>
						<a class="item"><span class="glyphicon glyphicon-book"></span>Celá zbierka po kapitolách</a>
				    </div>
			    </div>
			    <div class="col-md-6">
				    <div class="copyright">
					    © Adolf Peter Záturecký, <a>Tomáš Ulej</a><br> 2006-2013. Foto (c) Karol Plicka. <a>Viac o projekte</a>
				    </div>
			    </div>
		    </div>
	    </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>