<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ľudo slovenský radí: najväčšia zbierka ľudových prísloví a porekadiel</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".sidebar">
	  
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1402931466605062&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
    
    <header style="background-image: url('img/bg.jpg');">
	    
	    <nav class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
		    <div class="container">
		
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tu-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">Tomáš Ulej</a>
		        </div>
		
		        <div class="collapse navbar-collapse" id="tu-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
			            <li><a>Ľudo Slovenský</a></li>
			            <li><a>Ale</a></li>
			            <li><a>Bodaj bi!</a></li>
		            </ul>
		        </div>
		
		    </div>
		
		</nav>
	    
	    <div class="header header-sub container">
		    
		    <div class="row">
			    <div class="col-sm-8">
				    <div class="row">
					    <div class="col-lg-5">
				    		<h1><a>Príslovia a porekadlá</a></h1>
					    </div>
					    <div class="menu col-lg-7">
						    <a class="item"><span class="glyphicon glyphicon-star-empty"></span>Najpopulárnejšie</a>
							<a class="item"><span class="glyphicon glyphicon-book"></span>Celá zbierka po kapitolách</a>
					    </div>
				    </div>
			    </div>
			    <div class="search col-sm-4">
				    <input type="text" value="Hľadať...">
				    <span class="glyphicon glyphicon-search"></span>
			    </div>
		    </div>
		    
		    <h2>Človek, jeho vek, pohlavie, rodina a domovina</h2>
		    
	    </div>
	    
    </header>
        
    <div class="content">
	    <div class="container">
		    
		    <div class="row">
			    
			    <div class="col-md-3 sidebar">
				    
				   	<menu class="nav" data-spy="affix" data-toggle="affix" data-offset-top="180" data-offset-bottom="200">
					    <li><a href="#mladost-staroba"><b>1</b>Mladosť – staroba</a></li>
						<li><a><b>2</b>Muži a ženy vo všeobecnosti</a></li>
						<li><a><b>3</b>Mládenec a panna. Ženba a vydávanie</a></li>
						<li><a><b>4</b>Manželstvo</a></li>
						<li><a><b>5</b>Porekadlá a úslovia o manželstve</a></li>
						<li><a><b>6</b>Vdovstvo</a></li>
						<li><a><b>7</b>Rodičia a deti</a></li>
						<li><a><b>8</b>Rodina, pokrvnosť, priateľstvo, kmotrovstvo, dedičstvo</a></li>
						<li><a><b>9</b>Domov</a></li>
				    </menu>
				    
			    </div>
			    
			    <div class="col-md-9 quotes-list">
					
					<div class="category">Príslovia</div>
					
					<ul>
						<li><a 
							data-popover="true"
							data-content="
								<div class='quote-popover'><b>Frajer čarovaný, chrbát maľovaný.</b><br><br>
								<ol><li>Čarovaný – zvábený; chrbát maľovaný – do modra zbitý. Z.</li></ol></div>
							"
							>Frajer čarovaný, chrbát maľovaný.
						</a></li>
						<li><a 
							data-popover="true"
							data-content="
								<div class='quote-popover'><b>Frajer čarovaný, chrbát maľovaný.</b><br><br>
								<ol><li>Čarovaný – zvábený; chrbát maľovaný – do modra zbitý. Z.</li></ol></div>
							"
							>Hoci odpoly hnilé, keď je len srdcu milé.</a></li>
						<li><a 
							data-popover="true"
							data-content="
								<div class='quote-popover'><b>Frajer čarovaný, chrbát maľovaný.</b><br><br>
								<ol><li>Čarovaný – zvábený; chrbát maľovaný – do modra zbitý. Z.</li></ol></div>
							"
							>Holub za pšenicou, šuhaj za dzievčicou.</a></li>
						<li><a 
							data-popover="true"
							data-content="
								<div class='quote-popover'><b>Frajer čarovaný, chrbát maľovaný.</b><br><br>
								<ol><li>Čarovaný – zvábený; chrbát maľovaný – do modra zbitý. Z.</li></ol></div>
							"
							>Jeden šije, druhý pára, trecí dzieča nahovára.</a></li>
						<li><a 
							data-popover="true"
							data-content="
								<div class='quote-popover'><b>Frajer čarovaný, chrbát maľovaný.</b><br><br>
								<ol><li>Čarovaný – zvábený; chrbát maľovaný – do modra zbitý. Z.</li></ol></div>
							"
							>K bratovi srok, ku sestre skok. – K starej srok, k mladej skok. – K nám srečisko, inde skočisko.</a></li>
					</ul>
					
					<div class="tags">
						<span class="label label-default">UCHO</span>
					</div>
					
					<h3 id="mladost-staroba">Mladosť – staroba</h3>
					
					<ul>
						<li><a>Holoplusk učí bradáčov.</a></li>
						<li><a>Dvadsať – nerozum; tridsať – neženatý; štyridsať – nebohatý.</a></li>
						<li><a>Čo sa Janíčko neučí, to sa Jano nenaučí.</a></li>
						<li><a>Čo má byť na hák, to sa zavčasu kriví.</a></li>
						<li><a>Čo kolíska vykolísala, to motyka zahrabala.</a></li>
						<li><a>Čo Janík zameškal, Jano nedohoní.</a></li>
						<li><a>Čo Jurko nepochopí, tomu sa Juro nenaučí.</a></li>
						<li><a>Čím viac krížov na chrbte, tým ťažšie nohám.</a></li>
					</ul>
					
					<div class="tags">
						<span class="label label-default">ZRELÝ</span>
						<span class="label label-default">ZRIEŤ</span>
						<span class="label label-default">DOZRIEŤ</span>
					</div>
					
					<ul>
						<li><a>Čo chytro zrie, chytro dozrie.</a></li>
						<li><a>Chlapec malý, ale huncút zralý!</a></li>
						<li><a>Prv dozrel ako vyrástol.</a></li>
						<li><a>Žihľava hneď od mladi pŕhli. – Čo má byť žihľavou, to hneď pŕhli.</a></li>
					</ul>
					
					<div class="category">Príslovia</div>
					
					<ul>
						<li><a>Frajer čarovaný, chrbát maľovaný.</a></li>
						<li><a>Hoci odpoly hnilé, keď je len srdcu milé.</a></li>
						<li><a>Holub za pšenicou, šuhaj za dzievčicou.</a></li>
						<li><a>Jeden šije, druhý pára, trecí dzieča nahovára.</a></li>
						<li><a>K bratovi srok, ku sestre skok. – K starej srok, k mladej skok. – K nám srečisko, inde skočisko.</a></li>
					</ul>
					
					<div class="tags">
						<span class="label label-default">UCHO</span>
					</div>
					
					<h3>Mladosť – staroba</h3>
					
					<ul>
						<li><a>Holoplusk učí bradáčov.</a></li>
						<li><a>Dvadsať – nerozum; tridsať – neženatý; štyridsať – nebohatý.</a></li>
						<li><a>Čo sa Janíčko neučí, to sa Jano nenaučí.</a></li>
						<li><a>Čo má byť na hák, to sa zavčasu kriví.</a></li>
						<li><a>Čo kolíska vykolísala, to motyka zahrabala.</a></li>
						<li><a>Čo Janík zameškal, Jano nedohoní.</a></li>
						<li><a>Čo Jurko nepochopí, tomu sa Juro nenaučí.</a></li>
						<li><a>Čím viac krížov na chrbte, tým ťažšie nohám.</a></li>
					</ul>
					
					<div class="tags">
						<span class="label label-default">ZRELÝ</span>
						<span class="label label-default">ZRIEŤ</span>
						<span class="label label-default">DOZRIEŤ</span>
					</div>
					
					<ul>
						<li><a>Čo chytro zrie, chytro dozrie.</a></li>
						<li><a>Chlapec malý, ale huncút zralý!</a></li>
						<li><a>Prv dozrel ako vyrástol.</a></li>
						<li><a>Žihľava hneď od mladi pŕhli. – Čo má byť žihľavou, to hneď pŕhli.</a></li>
					</ul>
					
					<div class="category">Príslovia</div>
					
					<ul>
						<li><a>Frajer čarovaný, chrbát maľovaný.</a></li>
						<li><a>Hoci odpoly hnilé, keď je len srdcu milé.</a></li>
						<li><a>Holub za pšenicou, šuhaj za dzievčicou.</a></li>
						<li><a>Jeden šije, druhý pára, trecí dzieča nahovára.</a></li>
						<li><a>K bratovi srok, ku sestre skok. – K starej srok, k mladej skok. – K nám srečisko, inde skočisko.</a></li>
					</ul>
					
					<div class="tags">
						<span class="label label-default">UCHO</span>
					</div>
					
					<h3>Mladosť – staroba</h3>
					
					<ul>
						<li><a>Holoplusk učí bradáčov.</a></li>
						<li><a>Dvadsať – nerozum; tridsať – neženatý; štyridsať – nebohatý.</a></li>
						<li><a>Čo sa Janíčko neučí, to sa Jano nenaučí.</a></li>
						<li><a>Čo má byť na hák, to sa zavčasu kriví.</a></li>
						<li><a>Čo kolíska vykolísala, to motyka zahrabala.</a></li>
						<li><a>Čo Janík zameškal, Jano nedohoní.</a></li>
						<li><a>Čo Jurko nepochopí, tomu sa Juro nenaučí.</a></li>
						<li><a>Čím viac krížov na chrbte, tým ťažšie nohám.</a></li>
					</ul>
					
					<div class="tags">
						<span class="label label-default">ZRELÝ</span>
						<span class="label label-default">ZRIEŤ</span>
						<span class="label label-default">DOZRIEŤ</span>
					</div>
					
					<ul>
						<li><a>Čo chytro zrie, chytro dozrie.</a></li>
						<li><a>Chlapec malý, ale huncút zralý!</a></li>
						<li><a>Prv dozrel ako vyrástol.</a></li>
						<li><a>Žihľava hneď od mladi pŕhli. – Čo má byť žihľavou, to hneď pŕhli.</a></li>
					</ul>
				    
			    </div>
			    
		    </div>
		    		    
	    </div>
    </div>
    
    <footer>
	    <div class="container">
		    <div class="row">
			    <div class="col-md-6">
				    <div class="menu">
					    <h3>Príslovia a porekadlá</h3>
					    <a class="item"><span class="glyphicon glyphicon-star-empty"></span>Najpopulárnejšie</a>
						<a class="item"><span class="glyphicon glyphicon-book"></span>Celá zbierka po kapitolách</a>
				    </div>
			    </div>
			    <div class="col-md-6">
				    <div class="copyright">
					    © Adolf Peter Záturecký, <a>Tomáš Ulej</a><br> 2006-2013. Foto (c) Karol Plicka. <a>Viac o projekte</a>
				    </div>
			    </div>
		    </div>
	    </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>