<p>Ahoj!</p>

<p>Pozdravuje Ťa Tomáš Ulej. Veľká vďaka za to, že chceš pomôcť s digitalizovaním v rámci <a href="http://www.ludoslovensky.sk">projektu Ľudo Slovenský</a>! </p>

<p><b>Chceme dostať na web celé naše kultúrne dedičstvo</b>, lebo to považujeme za veľmi dôležitú vec. Našou prvou zastávkou sú ľudové piesne :)</p> 

<p><strong>Ako teda môžeš pomôcť?</strong> Keďže e-maily môžu byť zaťažujúce 
    a asi by sme si ich pri spolupráci cez internet museli posielať stovky, <strong>vytvorili sme komunitnú stránku</strong>, kde sa všetci budeme pripájať,
    diskutovať, sledovať postup prác, či len tak virtuálne stretávať a rozprávať. 
    Sídli na stránke <a href="http://komunita.ludoslovensky.sk">komunita.ludoslovensky.sk</a> 
    a prvou vecou, ktorú Ťa teda poprosíme urobiť, <strong>je na nej sa zaregistrovať</strong> (<i>sľubujeme že toto už je fakt posledné vypĺňanie formulára, do budúcna určite urobíme lepšie prepojenie tak, aby sa budúci záujemcovia museli registrovať len raz - je to otrava</i>). 
    
    </p>
<H3>Ako sa registrovať a používať stránku komunita.ludoslovensky.sk</h3>
<ol>
    <li>Choď na stránku <a href="http://komunita.ludoslovensky.sk">komunita.ludoslovensky.sk</a> a klikni na tlačidlo Registrácia</li>
    <li>Zadaj svoj e-mail, používateľské meno v tvare "meno.priezvisko" (bez uvodzoviek), celé meno a heslo</li>
    <li>Klikni na "Vytvoriť nový účet".</li>
    <li>Po vytvorení účtu ti príde na zvolený e-mail potvrdzovací e-mail s odkazom na overenie e-mailu, prosím, klikni na odkaz v maile.</li>
    <li>Po odkliknutí sa už dostaneš na web. Svoje údaje si zapamätaj, stránka je prístupna až po zadaní údajov.</li>
    <li>Ďalšie informácie nájdeš po kliknutí na "Projekt Piesne"</li>

 </ol>   
<p><strong>Dôležité:</strong> prosím, použi ako používateľské meno "meno.priezvisko" (napr. "janko.hrasko"), je to dôležité kvôli prehľadnosti, keď nás bude na projekte pracovať viac.Ak by náhodou bolo tvoje meno použité, pridaj zaň číslicu "1,2" a podobne</p>

<p>Ak by si mal(a) akúkoľvek otázku, môžeš pokojne použiť priamo web komunita.ludoslovensky.sk - či už založením témy, internou správou.<BR>
 Ale pokojne použi aj e-mail, stačí zvoliť odpovedať na tento e-mail, alebo napísať na <mailto:ludo@ludoslovensky.sk>ludo@ludoslovensky.sk</a> a všetko k nám dorazí.</p>

<p>Ešte raz veľká vďaka za to, že si s nami a že chceš pomôcť. Už sa nevieme dočkať, ako spolu začneme pracovať na tejto bohumilej veci.</p>

<p>Za všetkých digitalizátorov,<BR><BR>

<i>Tomáš Ulej</i>,
zakladateľ Ľuda


