@charset "UTF-8";

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Regular-9531409e5f6d548c2ccc3429d9d5db69.woff2") format("woff2"), url("fonts/Tabac-Sans-Regular-9531409e5f6d548c2ccc3429d9d5db69.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Italic-939c7bc3092f331c10e75335f85f45a5.woff2") format("woff2"), url("fonts/Tabac-Sans-Italic-939c7bc3092f331c10e75335f85f45a5.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-SemiBold-c1c5cd189c25eb46746c1d6648f58103.woff2") format("woff2"), url("fonts/Tabac-Sans-SemiBold-c1c5cd189c25eb46746c1d6648f58103.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-SemiBold-Italic-995d174f745ccf34d9668fc3949054e0.woff2") format("woff2"), url("fonts/Tabac-Sans-SemiBold-Italic-995d174f745ccf34d9668fc3949054e0.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Bold-0434c8d811e4abf9f73aab8061622b1a.woff2") format("woff2"), url("fonts/Tabac-Sans-Bold-0434c8d811e4abf9f73aab8061622b1a.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face
{
  font-family: "Tabac-Sans";
  src: url("fonts/Tabac-Sans-Black-Italic-6a461a8b1ed742ecd5c287c67ddb4a94.woff2") format("woff2"), url("fonts/Tabac-Sans-Black-Italic-6a461a8b1ed742ecd5c287c67ddb4a94.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}